<%# BANNER=====================================================%>
<div class="banner" style="height: 200px; background-image: url('<%= asset_path('home_bg.webp') %>');">
  <div class="container">
    <h1><%= @form_title %></h1>
    <h2><%= @form_subtitle %></h2>
  </div>
</div>
